<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/index.css" />

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <title> {{ appname }} API Reference</title>
</head>

<body>
    <header id="top">
        <h1>{{ appname }}</h1>
        <div>
            <h2>API URL:</h2>
            <code title="Click to copy">http://localhost:{{ port }}/api/v{{ version }}</code>
        </div>
    </header>

    <main>
        <div class="resource">
            <section class="info">
                <h3>title</h3>
                <div class="element">
                    <p class="identifier">Name field:</p>
                    <p>Description</p>
                </div>
                <div class="element">
                    <p class="identifier">Headers:</p>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Cn</td>
                            <td>vde</td>
                        </tr>
                        <tr>
                            <td>dfv</td>
                            <td>dsd</td>
                        </tr>
                    </table>
                </div>
                <div class="element">
                    <p class="identifier">Notes:</p>
                    <ul>
                        <li>cde</li>
                        <li>vd</li>
                    </ul>
                </div>
            </section>
            <section class="examples">
                <div class="example">
                    <p class="identifier">URL:</p>
                    <code title="Click to copy">http://localhost:{{ port }}/api/v{{ version }}/categories</code>
                    <div class="actions"><button class="btn">Copy endpoint</button><button class="btn">Copy
                            example</button></div>
                </div>
                <div class="example">
                    <p class="identifier">Response:</p>
                    <code title="Click to copy">[{"id":1,"name":"Entradas"},{"id":2,"name":"Comidas"},{"id":3,"name":"Postres"},{"id":4,"name":"Bebidas"}]</code>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <p>Josué Iván Rodríguez Hernández <span id="year"></span></p>
        <a class="btn" href="#top">Back to top</a>
    </footer>

    <script>
        document.getElementById('year').innerText = new Date().getFullYear();
    </script>
</body>

</html>
