/* global config */

:root {
    /* colors */
    --primary-color: #2177ff;
    --white-color: #f3f3f3;
    --code-color: #3c3845;
    --code-dark-color: #302d37;
    /* consts */
    --default-radius: 10px;
    --default-transition: all ease-in-out .3s;
    --footer-height: 60px;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: var(--footer-height);
}

/* generic controls */

.btn {
    background: none;
    border: none;
    border-radius: var(--default-radius);
    box-shadow: none;
    padding: 10px 15px;
    text-decoration: none;
    transition: var(--default-transition);
}

.btn:hover {
    cursor: pointer;
}

code {
    background-color: var(--code-dark-color);
    border: 5px solid transparent;
    border-radius: var(--default-radius);
    color: var(--white-color);
    font-family: monospace;
    padding: 5px 10px;
}

code:hover {
    background-color: var(--code-color);
    cursor: cell;
}

code:active {
    border-color: var(--primary-color);
}

/* header */

header {
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px #c9c9c9;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

h1 {
    color: var(--primary-color);
    font-size: 1.5em;
}

header div {
    align-items: center;
    display: flex;
    justify-content: center;
}

header h2 {
    font-size: .8em;
    margin-right: 10px;
}

/* footer */

footer {
    align-items: center;
    background-color: #18171c;
    bottom: 0;
    color: var(--white-color);
    display: flex;
    font-size: .8em;
    height: var(--footer-height);
    justify-content: space-evenly;
    left: 0;
    position: absolute;
    width: 100%;
}

footer .btn {
    background-color: var(--code-dark-color);
    color: var(--white-color);
    font-style: italic;
}

footer .btn:hover {
    background-color: var(--code-color);
}
